body
{
	background-color: #181a1c;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.input-cursor
{
	background: none;
	color: white;
	border: 0px;
	font-size: 100%;
}

.input-cursor:focus {
    outline: none;
    display: inline-block;
}